@page "/gallery"

@using PhotoPortfolio.Shared.Models
@using static PhotoPortfolio.Client.Components.HeroImage;

<HeroImage ImageUri="https://photoportfolioimgs.blob.core.windows.net/repo/mark-harpur-K2s_YE031CA-unsplash.jpg"
           HeadlineText="Gallery"
           SubTitleText="View photographs around a theme"
           ImageHeight="HeroImageHeight.Large"
           TextDarkMode=false />

<div class="mt-8">
    <TextBlock BlockItems="TextBlockItems" 
               DarkMode=false />
</div>

<GalleryList />

@code {
    private List<TextBlockItem> TextBlockItems = new List<TextBlockItem>();

    protected override void OnInitialized()
    {
        TextBlockItems.Add(new TextBlockItem 
            {
                TextContent = "Welcome to the Gallery",
                TextColour = "#366136",
                TextSize = "3xl",
                TextWeight = "bold",
                TextAlignment = "center"
            });

        TextBlockItems.Add(new TextBlockItem
            {
                TextContent = "Here are my favourite photographs, arranged around different themes.",
                TextColour = "#070907",
                TextSize = "xl",
                TextWeight = "normal",
                TextAlignment = "center"
            });
    }
    
}
