@page "/galleries/{Id}"

@using PhotoPortfolio.Client.Contracts
@using PhotoPortfolio.Shared.Entities
@using PhotoPortfolio.Shared.Models

@inject IGalleryService galleryService

@if (errorMessage != "")
{
    <div class="mx-2 animate-pulse">
        <div class="alert-box" role="alert">
            <span class="block sm:inline">@errorMessage</span>
        </div>
    </div>
}

@if (gallery is not null)
{
    <HeroImage ImageUri=@gallery.HeaderImage
           ImageAlign=@gallery.HeaderImageAlign
           HeadlineText=@gallery.Name
           SubTitleText=@gallery.Description
           TextDarkMode=false />

    <div class="pt-12">
        <GalleryBreadcrumb GalleryName=@gallery.Name />
    </div>

    <TextBlock BlockItems="TextBlockItems" />

    <div class="pt-8">
        <MasonryGrid GalleryId="@gallery.Id"
                 DarkMode=false 
        />
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }

    private Gallery gallery = null!;
    private string errorMessage = "";

    private List<TextBlockItem> TextBlockItems = new List<TextBlockItem>();

    protected override async Task OnInitializedAsync()
    {
        await GetGallery();
    }

    private async Task GetGallery()
    {
        try
        {
            gallery = await galleryService.GetGalleryByIdAsync(Id);

            if (gallery is null)
            {
                errorMessage = "Could not retrieve gallery details";
            }
            else
            {
                // also pass the gallery name to the TextBlock component
                TextBlockItems.Add(new TextBlockItem
                    {
                        TextContent = gallery.Name,
                        TextColour = "#366136",
                        TextSize = "3xl",
                        TextWeight = "bold",
                        TextAlignment = "center"
                    });

                errorMessage = "";
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            errorMessage = "Could not retrieve gallery details";
        }
    }
}
