@page "/"
@using PhotoPortfolio.Shared.Models

<div class="min-h-screen w-full">
    <Carousel 
        ImageList="@ImageList"
        ShowNavBullets=false  
    />

    <div class="my-8 flex justify-center mx-auto">
        <!-- https://heroicons.com: chevron-double-down -->
        <svg class="w-8 h-8 animate-pulse" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M15.707 4.293a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 011.414-1.414L10 8.586l4.293-4.293a1 1 0 011.414 0zm0 6a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 111.414-1.414L10 14.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
         </svg>
    </div>

    <Biography />


    <TextBlock BlockItems="TextBlockItems"
               DarkMode=true 
    />

    <MasonryGrid GalleryId="6334c9aa0257ef74a2250641"
                 DarkMode=true 
    />
</div>

@code {
    private List<CarouselItem> ImageList = new List<CarouselItem>();
    private List<TextBlockItem> TextBlockItems = new List<TextBlockItem>();
    
    protected override void OnInitialized()
    {
        // Carousel image list
        ImageList.Add(new CarouselItem { Uri = "https://photoportfolioimgs.blob.core.windows.net/repo/mark-harpur-K2s_YE031CA-unsplash.jpg", ImageAlign = ImageAlignment.Middle });
        ImageList.Add(new CarouselItem { Uri = "https://photoportfolioimgs.blob.core.windows.net/repo/rei-kim-X5CyweAStIY-unsplash.jpg", ImageAlign = ImageAlignment.Bottom });
        ImageList.Add(new CarouselItem { Uri = "https://photoportfolioimgs.blob.core.windows.net/repo/scott-carroll-favQn8WgRyk-unsplash.jpg", ImageAlign = ImageAlignment.Middle });

        // TextBlock items
        TextBlockItems.Add(new TextBlockItem
            {
                TextContent = "Favourites",
                TextColour = "#9eb9d7",
                TextSize = "2xl",
                TextWeight = "bold",
                TextAlignment = "center",
                TextUppercase = true
            });

        TextBlockItems.Add(new TextBlockItem
            {
                TextContent = "My Favourite Recent Photographs",
                TextColour = "rgb(248 250 252)",
                TextSize = "2xl",
                TextWeight = "normal",
                TextAlignment = "center"
            });
    }
}
