@page "/photo/{Id}"

@using PhotoPortfolio.Client.Contracts
@using PhotoPortfolio.Shared.Entities
@using PhotoPortfolio.Shared.Models

@inject IPhotoService photoService

<HeroImage ImageUri="https://photoportfolioimgs.blob.core.windows.net/repo/bank-phrom-Tzm3Oyu_6sk-unsplash.jpg"
           ImageAlign="bottom"
           HeadlineText="Prints"
           SubTitleText="Purchase prints, wallart, canvas, etc."
           TextDarkMode=false />

<div class="md:container">
    @if (errorMessage != "")
    {
        <div class="alert alert-danger" role="alert">
            <h4>@errorMessage</h4>
        </div>
    }
    else if (photo == null)
    {
        <text>Loading photo details...</text>
    }
    else
    {
        <div class="my-24 grid sm:grid-cols-1 lg:grid-cols-2 gap-16">
            <div class="mx-4 flex justify-end">
                <img src="@photo.Uri" class="h-96" />
            </div>
            <div>
                <div class="text-2xl font-bold mb-4">@photo.Title</div>
                <div class="text-base mb-8 text-justify">@photo.Caption</div>

                <Dropdown DropdownTitle="Available as:" DropdownItems="dropdownOptions" SelectedOption="SelectedOption" />

                <div class="mt-8 text-base text-slate-800" id="product-description">
                    @descriptionText
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public string Id { get; set; } = string.Empty;

    private Photo photo = null!;
    private string errorMessage = "";

    private List<DropdownItem> dropdownOptions = new();

    private string descriptionText = "Choose an option above to see further details, including prices.";

    protected override async Task OnInitializedAsync()
    {
        await GetPhotoById();
    }

    protected override void OnInitialized()
    {
        GetProductsForPhoto();
    }

    private async Task GetPhotoById()
    {
        try
        {
            photo = await photoService.GetPhotoByIdAsync(Id);
            errorMessage = "";
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            errorMessage = "Could not find this photo";
        }
    }

    private void GetProductsForPhoto()
    {
        dropdownOptions.Add(new DropdownItem 
            {
                OptionName = "Fine Art Print (16x24in)",
                OptionRef = "GLOBAL-FAP-16X24"
            });

        dropdownOptions.Add(new DropdownItem
            {
                OptionName = "Fine Art Print (20x30in)",
                OptionRef = "GLOBAL-FAP-20X30"
            });
    }

    private async Task SelectedOption(string sku)
    {
        descriptionText = sku;
    }
}
