@page "/photo/{Id}"

@using PhotoPortfolio.Client.Contracts
@using PhotoPortfolio.Shared.Entities
@using PhotoPortfolio.Shared.Models

@inject IPhotoService photoService
@inject IProductService productService

<HeroImage ImageUri="https://photoportfolioimgs.blob.core.windows.net/repo/bank-phrom-Tzm3Oyu_6sk-unsplash.jpg"
           ImageAlign="bottom"
           HeadlineText="Prints"
           SubTitleText="Purchase prints, wallart, canvas, etc."
           TextDarkMode=false />

<div class="md:container">
    @if (errorMessage != "")
    {
        <div class="alert alert-danger" role="alert">
            <h4>@errorMessage</h4>
        </div>
    }
    else if (photo == null)
    {
        <text>Loading photo details...</text>
    }
    else
    {
        <a href="#photo">&nbsp;</a>
        <div class="my-24 grid sm:grid-cols-1 lg:grid-cols-2 gap-16">
            <div class="mx-4 flex justify-end">
                <img src="@photo.Uri" class="w-full px-4 lg:w-auto lg:h-160 lg:px-0" />
            </div>
            <div class="px-2 lg:px-0">
                <div class="text-xl lg:text-3xl font-bold mb-4">@photo.Title</div>
                <div class="text-sm lg:text-base mb-4 text-justify">@photo.Caption</div>

                @if (dropdownOptions.Count > 0)
                {
                    <Dropdown DropdownTitle="Available as:" DropdownItems="dropdownOptions" SelectedOption="SelectedOption" />

                    <div class="text-base lg:text-lg font-semibold mt-4 italic" id="product-title">
                        @optionSelectedText
                    </div>

                    <div class="text-sm lg:text-base font-bold mt-8 text-slate-500" id="product-price">
                        Price: £14.94 (inc VAT & Standard Delivery)
                    </div>

                    <div class="mt-4 mb-8" id="product-purchase-button">
                        <button class="flex flex-row justify-start items-center bg-emerald-800 p-2 rounded-sm sm:text-center hover:opacity-90">
                            <span class="text-gray-50 ml-2">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                                </svg>
                            </span>
                            <span class="text-gray-50 text-sm ml-3 mr-2">Add to Basket</span>
                        </button>
                    </div>

                    <div class="mt-8 text-sm lg:text-base text-slate-800" id="product-description">
                        @descriptionText
                    </div>

                    <div class="mt-8 flex flex-row justify-start lg:flex-col w-160" id="product-images-container">
                        <div class="product-asset">
                            <img class="h-56" src="https://photoportfolioimgs.blob.core.windows.net/repo/63470ed50918b77fbb77295a-mockup-global-fap-16x24.png" />
                        </div>
                        <div class="product-asset">
                            <img class="h-32" src="https://photoportfolioimgs.blob.core.windows.net/repo/global-fap-16x24-asset-01.jpg" />
                        </div>
                        <div class="product-asset">
                            <img class="h-32" src="https://photoportfolioimgs.blob.core.windows.net/repo/global-fap-16x24-asset-02.jpg" />
                        </div>
                        <div class="product-asset">
                            <img class="h-32" src="https://photoportfolioimgs.blob.core.windows.net/repo/global-fap-16x24-asset-03.jpg" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="mt-8 text-sm lg:text-base text-red-500 italic">
                        Sorry, this image is not currently available for purchase
                    </div>
                }

            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public string Id { get; set; } = string.Empty;

    private Photo photo = null!;
    private string errorMessage = "";

    private List<DropdownItem> dropdownOptions = new();

    private List<Product> products = new();

    private string optionSelectedText = "";
    private string descriptionText = "Choose an option above to see further details, including prices.";

    protected override async Task OnInitializedAsync()
    {
        await GetPhotoById();
        await GetProductsForPhoto();
    }

    private async Task GetPhotoById()
    {
        try
        {
            photo = await photoService.GetPhotoByIdAsync(Id);
            errorMessage = "";
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            errorMessage = "Could not find this photo";
        }
    }

    private async Task GetProductsForPhoto()
    {
        try
        {
            products = await productService.GetProductsForPhotoAsync(Id);

            foreach (var product in products)
            {
                dropdownOptions.Add(new DropdownItem
                    {
                        OptionName = product.CustomDescription,
                        OptionRef = product.ProdigiSku
                    });
            }

            errorMessage = "";
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            errorMessage = "Could not find products for this photo";
        }
    }

    private void SelectedOption(string sku)
    {
        var product = products.FirstOrDefault(p => p.ProdigiSku == sku);

        if (product is not null)
        {
            optionSelectedText = product.CustomDescription;
            descriptionText = product.FurtherDetails;
        }
        else 
        {
            descriptionText = "Sorry, details for this product could not be found";
        }
    }
}
