<div class="xl:min-h-screen mt-24 xl:-mb-96 w-3/4 mx-auto lg:pl-32 lg:pr-40 grid grid-cols-1 xl:grid-cols-2 gap-24">
    <div class="">
        <div class="mx-4 flex justify-center lg:justify-end overflow-visible">
            <img src="https://photoportfolioimgs.blob.core.windows.net/repo/photographer_sam.jpg"
                 width="315"
                 height="338"
                 class="rounded-full inline-block h-48 w-48 xl:h-60 xl:w-60 2xl:h-80 2xl:w-80 scale-110 ring-2 ring-offset-4 ring-slate-500 drop-shadow-xl" />
        </div>
    </div>
    <div class="">
        <div class="text-xl 2xl:text-3xl text-slate-500 font-semibold">
            Hello! I'm Sam, a photographer based in London. I'm very passionate about the work that I do.
        </div>
        <div class="text-base 2xl:text-xl text-slate-500 mt-8">
            You can see some of my favourite recent images below, or view more of my work and buy prints in the Gallery section. Thanks for visiting!
        </div>
        <div class="mt-16 flex flex-row justify-items-start">
            <span>
                <LinkButton LinkText="Visit the Gallery" Uri="/gallery" />
            </span>
            <span class="ml-4">
                <LinkButton LinkText="More About Me" Uri="/about" />
            </span>
        </div>
    </div>
</div>
