@using PhotoPortfolio.Shared.Models

<div class="w-full mx-auto -mt-24">
    <TextBlock BlockItems="TextBlockItems"
               DarkMode=false />
</div>
<div class="columns-1 lg:columns-3 space-y-4 lg:space-y-8 p-4 md:p-0 md:w-1/2 mx-auto mt-8 mb-16">
    
    <div class="group relative overflow-hidden hover:cursor-pointer brightness-90">
        <img class="object-cover group-hover:brightness-110 transition ease-in-out duration-700 group-hover:scale-105" src="https://photoportfolioimgs.blob.core.windows.net/repo/mark-harpur-K2s_YE031CA-unsplash.jpg" />
        <div class="absolute bottom-0 left-0 right-0 p-4 bg-gray-700/50">
            <h3 class="text-base text-gray-50 text-center font-semibold">
                7 Beginner Mistakes to Avoid
            </h3>
        </div>
    </div>
    <div class="group relative overflow-hidden hover:cursor-pointer brightness-90">
        <img class="object-cover group-hover:brightness-110 transition ease-in-out duration-700 group-hover:scale-105" src="https://photoportfolioimgs.blob.core.windows.net/repo/ashim-d-silva-WeYamle9fDM-unsplash.jpg" />
        <div class="absolute bottom-0 left-0 right-0 p-4 bg-gray-700/50">
            <div class="text-base text-gray-50 text-center font-semibold">
                Should You Always Shoot in RAW?
            </div>
        </div>
    </div>
    <div class="group relative overflow-hidden hover:cursor-pointer brightness-90">
        <img class="object-cover group-hover:brightness-110 transition ease-in-out duration-700 group-hover:scale-105" src="https://photoportfolioimgs.blob.core.windows.net/repo/scott-carroll-favQn8WgRyk-unsplash.jpg" />
        <div class="absolute bottom-0 left-0 right-0 p-4 bg-gray-700/50">
            <div class="text-base text-gray-50 text-center font-semibold">
                Improve Your Wildlife Photography
            </div>
        </div>
    </div>

</div>

@code {
    private List<TextBlockItem> TextBlockItems = new List<TextBlockItem>();

    protected override void OnInitialized()
    {
        // TextBlock items
        TextBlockItems.Add(new TextBlockItem
            {
                TextContent = "Blog",
                TextColour = "#50749e",
                TextSize = "md",
                TextWeight = "bold",
                TextAlignment = "center",
                TextUppercase = true
            });

        TextBlockItems.Add(new TextBlockItem
            {
                TextContent = "Thoughts On Photography",
                TextColour = "#2e3238",
                TextSize = "2xl",
                TextWeight = "normal",
                TextAlignment = "center"
            });
    }
}
