@inject IJSRuntime JsRuntime;

<div class="">
    <div id="promo-carousel" class="carousel slide carousel-fade d-none d-md-block max-h-112" data-bs-ride="carousel">
        <!-- slide location indicators -->
        <ol class="carousel-indicators">
            <li data-bs-target="#promo-carousel" data-bs-slide-to='0' class="active"></li>
            <li data-bs-target="#promo-carousel" data-bs-slide-to='1'></li>
            <li data-bs-target="#promo-carousel" data-bs-slide-to='2'></li>
        </ol>
        <!-- main carousel images -->
        <div class="carousel-inner">
            <div class="carousel-item carousel-image-1 active">
                <img class="d-block" src="images/carousel-image1.png" alt="">
                <div class="carousel-caption d-none d-md-block text-dark">
                    <NavLink href="/products/details/1">
                        <button class="my-3 btn btn-outline-dark">Image 1</button>
                    </NavLink>
                </div>
            </div>
            <div class="carousel-item carousel-image-2">
                <img class="d-block" src="images/carousel-image2.png" alt="">
                <div class="carousel-caption d-none d-md-block text-dark">
                    <NavLink href="/products/details/20">
                        <button class="my-3 btn btn-outline-dark">Image 2</button>
                    </NavLink>
                </div>
            </div>
            <div class="carousel-item carousel-image-3">
                <NavLink href="/products/categories/3">
                    <img class="d-block" src="images/carousel-image3.png" alt="">
                    <div class="carousel-caption d-none d-md-block text-dark">
                        <button class="my-3 btn btn-outline-dark">Image 3</button>
                    </div>
                </NavLink>
            </div>
        </div>
        <!-- next/prev buttons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#promo-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#promo-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

@functions {

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        // initialises the Bootstrap 5 carousel via JSInterop
        if (firstRender)
        {
            // to configure the carousel, go to 'wwwroot/js/initialiseCarousel.js'
            //await JsRuntime.InvokeAsync<object>("initialiseCarousel");
            firstRender = false;
        }
    }
}
