<div class="w-full h-96 overflow-hidden relative">
    <div class="absolute inset-0 w-full h-full object-fill object-center bg-gray-400 bg-opacity-30 bg-cover @ImageVerticalAlign bg-blend-multiply" style="background-image: url( @ImageUri );"></div>
    <span class="absolute text-2xl md:text-3xl lg:text-5xl font-medium @TextColour top-10 left-10 z-10">@HeadlineText</span>
    <span class="absolute text-base md:text-lg lg:text-2xl @TextColour top-24 left-10 z-10">@SubTitleText</span>
</div>

@code {
    [Parameter]
    public string ImageUri { get; set; }

    [Parameter]
    public string ImageAlign { get; set; } = "center";

    [Parameter]
    public string HeadlineText { get; set; } = string.Empty;

    [Parameter]
    public string SubTitleText { get; set; } = string.Empty;

    [Parameter]
    public bool TextDarkMode { get; set; } = false;

    private string? TextColour => TextDarkMode ? "text-slate-900" : "text-white";

    private string? ImageVerticalAlign = "bg-center";

    protected override void OnInitialized()
    {
        ImageVerticalAlign = ImageAlign.ToLowerInvariant() switch
        {
            "center" => "bg-center",
            "bottom" => "bg-bottom",
            "top" => "bg-top",
            _ => "bg-center",
        };
    }
}
