@using PhotoPortfolio.Shared.Models

<div class="py-4">
    @foreach (TextBlockItem item in BlockItems)
    {
        <div class="p-[1rem] text-@item.TextSize text-@item.TextAlignment font-@item.TextWeight">
            <span style="color: @item.TextColour">@item.TextContent</span>
        </div>
    }
</div>
<!-- hidden div to ensure we have all possible text size values included in wwwroot/css/tailwind.css-->
<div class="hidden text-white text-sm text-base text-lg text-xl text-2xl text-3xl text-4xl text-5xl">x</div>

@code {
    [Parameter]
    public List<TextBlockItem> BlockItems { get; set; } = null!;

}
