@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <div class="md:mr-4">
            <span class="hidden sm:inline text-gray-400 text-sm font-medium md:mr-6">
                Logged in as: @context.User.Identity?.Name!
            </span>
            <button class="text-gray-400 hover:bg-gray-800 hover:text-gray-200 px-2 py-1 rounded-md text-sm font-medium" @onclick="BeginLogout">Log out</button>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="md:mr-4">
            <NavLink href="authentication/login" class="text-gray-400 hover:bg-gray-800 hover:text-gray-200 px-2 py-1 rounded-md text-sm font-medium">Log In</NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
