<div class="px-2 pt-2 pb-3 space-y-1">
    <NavLink href="/gallery" class="text-gray-300 hover:bg-gray-600 hover:text-gray-50 block px-3 py-2 rounded-md text-base font-medium">
        Gallery
    </NavLink>
    <NavLink href="#" class="text-gray-300 hover:bg-gray-600 hover:text-gray-50 block px-3 py-2 rounded-md text-base font-medium">
        Contact Me
    </NavLink>
</div>

@code {
    
}
