<div class="flex flex-nowrap hidden md:flex md:justify-start w-1/3 text-gray-50">
    <div class="px-6 font-semibold hover:text-gray-200 inline">
        <span>
            <NavLink href="/">
                <!-- heroicon: home (solid) -->
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 transform hover:scale-110" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
                </svg>
            </NavLink>
        </span>
    </div>
    <div class="px-6 font-semibold hover:text-gray-200">
        <span><NavLink href="/gallery" class="hover:text-gray-200">Gallery</NavLink></span>
    </div>
    <div class="px-6 -mt-0.5 font-semibold hover:text-gray-200">
        <span><BasketDropdown /></span>
    </div>
</div>
<div class="flex justify-center w-full lg:w-1/3">
    <div class="px-0">
        <NavLink href="/">
            <img src="/images/photo_portfolio_logo_white_cropped.png" class="h-8 lg:h-10" />
        </NavLink>
    </div>
</div>
<div class="hidden w-0 md:flex md:justify-center md:w-1/3">
    <SocialMediaIcons />
</div>
