<div class="flex flex-nowrap hidden md:flex md:justify-start w-1/4 text-gray-50">
    <div class="px-4 font-semibold hover:text-gray-200">
        <span><NavLink href="/gallery" class="hover:text-gray-200">Gallery</NavLink></span>
    </div>
    <div class="px-4 font-semibold hover:text-gray-200">
        <span><NavLink href="#" class="hover:text-gray-200">Contact Me</NavLink></span>
    </div>
</div>
<div class="flex justify-center w-full lg:w-2/4">
    <div class="px-0">
        <NavLink href="/">
            <img src="/images/photo_portfolio_logo_white_cropped.png" class="h-8 lg:h-10" />
        </NavLink>
    </div>
</div>
<div class="hidden w-0 md:flex md:justify-end md:w-1/4">
    <SocialMediaIcons />
</div>
