@page "/admin/siteprefs"
@layout AdminLayout

@using Microsoft.AspNetCore.Authorization
@using PhotoPortfolio.Client.Contracts
@using PhotoPortfolio.Shared.Entities

@inject IAdminService adminService

@attribute [Authorize]

<PageTitle>Photo Portfolio : Admin : Site Preferences</PageTitle>

@if (errorMessage != "")
{
    <div class="mx-2 animate-pulse">
        <div class="alert-box" role="alert">
            <span class="block sm:inline">@errorMessage</span>
        </div>
    </div>
}
else if (prefs == null)
{
    <text>Loading site preferences...</text>
}
else
{
    <div class="m-4 md:m-8">
        <div class="text-3xl">Site Preferences</div>
        <div class="mt-8 flex flex-col">
            @foreach (var pref in prefs)
            {
                <div class="text-base font-semibold">@pref.Key : @pref.Value</div>
            }
        </div>
    </div>
}

@code {
    private string errorMessage = "";
    private Dictionary<string, string> prefs = new();

    protected override async Task OnInitializedAsync()
    {
        await GetSitePreferences();
    }

    private async Task GetSitePreferences()
    {
        try
        {
            var preferences = await adminService.GetSitePreferencesAsync();
            prefs = preferences.Metadata;
            errorMessage = "";
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            errorMessage = "Could not retrieve site preferences";
        }
    }
}
